
#tax_calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    border: 3px solid blue;
    padding: 0 2em 1em;
}

h3 {
    color: blue;
}
#in1 #out2 {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}
span {
    color: red;
}

.fakeimg {
    height: 200px;
    background: #aaa;
  }